In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Sangar,RU,73.29,light rain,63.92,127.47,NaN
1,20,Tecoanapa,MX,82.00,moderate rain,16.52,-98.75,Hotel Manglares
2,21,Hearst,CA,62.15,moderate rain,49.68,-83.67,Companion
3,29,Vangaindrano,MG,65.41,light rain,-23.35,47.60,Hotel Fanilo
4,91,Panzhihua,CN,82.15,light rain,26.59,101.71,Electric Power Hotel

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Sangar,RU,73.29,light rain,63.92,127.47,NaN
1,20,Tecoanapa,MX,82.00,moderate rain,16.52,-98.75,Hotel Manglares
2,21,Hearst,CA,62.15,moderate rain,49.68,-83.67,Companion
3,29,Vangaindrano,MG,65.41,light rain,-23.35,47.60,Hotel Fanilo
4,91,Panzhihua,CN,82.15,light rain,26.59,101.71,Electric Power Hotel

In [5]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""

In [6]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [7]:
# Add a hotelsfor the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 4 Vacation stops near each other.

vacation_start = vacation_df.loc[vacation_df["City"]== "Manggar"]
vacation_first_stop = vacation_df.loc[vacation_df["City"]== "Pontianak"]
vacation_second_stop = vacation_df.loc[vacation_df["City"]== "Tarakan"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Biak"]

In [12]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
first_stop = vacation_first_stop["Lat"].values[0], vacation_first_stop["Lng"].values[0]
second_stop = vacation_second_stop["Lat"].values[0], vacation_second_stop["Lng"].values[0]
print(start)
print(end)
print(first_stop)
print(second_stop)

(-2.88, 108.27)
(-0.91, 122.88)
(-0.03, 109.33)
(3.3, 117.63)

In [16]:
# Latitude-longitude pairs
Manggar = (-2.88, 108.27)
Biak = (-0.91, 122.88)
Pontianak = (-0.03, 109.33)
Tarakan = (3.3, 117.63)

fig = gmaps.figure()
manggar2biak = gmaps.directions_layer(Manggar, Biak, waypoints= [Pontianak, Tarakan], travel_mode= 'DRIVING')
fig.add_layer(manggar2biak)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
itinerary_df = pd.concat([vacation_start,vacation_first_stop,vacation_second_stop, vacation_end])

In [18]:
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
38,394,Manggar,ID,81.91,moderate rain,-2.88,108.27,Guest Hotel
6,132,Pontianak,ID,76.08,light rain,-0.03,109.33,Aston Pontianak Hotel & Convention Center
48,481,Tarakan,ID,82.13,light rain,3.30,117.63,Hotel D' CaLia Tarakan
10,179,Biak,ID,81.73,light rain,-0.91,122.88,Kost Ariz

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""

# Store the DataFrame Row.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

In [29]:
# Add a hotelsfor the vacation spots and a pop-up marker for each city.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(4, 115.0), zoom_level=5)

marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))